/Class2_vmt28/dist/
/Class2_vmt28/build/
/Class1_vmt28/build/
/Class1_vmt28/dist/
/Class3_vmt28/build/
/Class3_vmt28/dist/
/Assignment_1/build/
/Assignment_1/dist/
/Class4_vmt28/build/
/Class4_vmt28/dist/
/HW4_vmt28_da475/build/
/HW4_vmt28_da475/dist/
/Class5_vmt28/build/
/Class5_vmt28/dist/
/prog_assignment_2/build/
/prog_assignment_2/dist/
/Class7_vmt28/build/
/Class7_vmt28/dist/